.boost {
  background-color: var(--light-color);
  padding-bottom: 155px;

  @include small-tablet {
    padding-bottom: 142px;
  }

  @include mobile {
    position: fixed;
    top: var(--header-height);
    padding-top: 26px;
    padding-bottom: 100px;
    z-index: 2;
    height: calc(100dvh - var(--header-height));
    // width: 100dvw;
    width: 100%;
    transform: translateY(-100%);
    transition: transform var(--transition) ease-in-out;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 52px;
    }

    @include mobile {
      gap: 37px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;

    @include tablet {
      font-size: 50px;
    }

    @include mobile {
      font-size: 30px;
      margin-bottom: 27px;
    }

    @include small-mobile {
      font-size: 26px;
    }
  }

  &__description {
    margin: 0;
    font-size: 16px;
    line-height: 125%;
    max-width: 415px;

    @include mobile {
      max-width: 415px;
      font-size: 14px;
    }

    @include small-mobile {
      font-size: 12px;
      max-width: 202px;
    }
  }

  &__form-wrapper {
    padding-top: 205px;
    padding-right: min(7.6vw, 110px);

    @include small-desktop {
      padding-top: 160px;
      padding-right: 0;
    }

    @include small-tablet {
      padding-top: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  @include small-tablet {
    max-width: 480px;
  }

  &__field {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 80px;
    border: var(--border);
    // border-bottom: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 30px 37px;
    background-color: transparent;
    margin-bottom: -2px;

    @include small-tablet {
      height: 68px;
      padding: 24px;
      font-size: 12px;
    }

    @include mobile {
      font-size: 14px;
      height: 51px;
      padding: 17px 13px;
    }

    &::placeholder {
      font-weight: 400;
      line-height: 125%;
      color: var(--dark-color);
    }

    &:focus {
      outline: none;
    }

    @include hover {
      outline: none;
    }
  }

  &__btn {
    height: 80px;
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: color var(--transition) ease-in-out,
      background-color var(--transition) ease-in-out;

    @include small-tablet {
      height: 68px;
    }

    @include mobile {
      height: 51px;
    }

    @include hover {
      background-color: var(--bg-main-color);
      color: var(--dark-color);
    }
  }
}

.form__btn.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: -9px;
  color: var(--dark-color);

  @include mobile {
    outline-offset: -6px;
  }
}

.form__input.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: -6px;
  color: var(--dark-color);
}

.boost.menu--active {
  transform: translateY(0);
}
