.burger {
  display: none;
  --burger-line-height: 2px;

  position: relative;
  border: none;
  padding: 0;
  height: 100%;
  width: 68px;
  color: var(--dark-color);
  background-color: transparent;
  cursor: pointer;
  box-shadow: -2px 0 var(--dark-color);

  @include mobile {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 30px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform var(--transition) ease-in-out,
      top var(--transition) ease-in-out;
    transform: translateX(-50%);
  }

  &::before {
    top: 20px;
  }

  &::after {
    top: calc(100% - var(--burger-line-height) - 20px);
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translate(-50%, -50%);
    transition: transform var(--transition) ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: translate(-50%, -1px) rotate(45deg);
      transition: transform var(--transition) ease-in-out,
        top var(--transition) ease-in-out;
    }

    &::after {
      top: 50%;
      transform: translate(-50%, -1px) rotate(-45deg);
      transition: transform var(--transition) ease-in-out,
        top var(--transition) ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform var(--transition) ease-in-out;
    }
  }

  &:focus {
    outline: none;
  }
}

.burger.focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -4px;
}
