.footer {
  background-color: var(--light-color);
  height: 78px;

  @include small-mobile {
    height: 52px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: 47px;
    aspect-ratio: 1;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    @include small-mobile {
      width: 33px;
    }
  }

  &__copyright {
    display: flex;
    height: 100%;
    line-height: 123%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-left: var(--border);
    padding-left: 69px;

    @include small-tablet {
      font-size: 14px;
      padding-left: 45px;
    }

    @include small-mobile {
      padding-left: 24px;
      font-size: 10px;
    }
  }
}

.footer__logo.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: 3px;
}
