.hero {
  background-color: var(--bg-main-color);
  padding-block: 189px 214px;

  @include small-tablet {
    padding-block: 197px 301px;
  }

  @include big-mobile {
    padding-block: 93px 34px;
  }

  &__container {
    position: relative;
    padding-left: calc(28.8vw - var(--container-offset));
    z-index: 1;

    @include small-tablet {
      padding-left: 0;
    }

    @include big-mobile {
      padding-top: 130px;
      // --container-offset: 20px;
    }

    @include small-mobile {
      padding-top: 100px;
    }

    @include small-mobile {
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 200px;
      aspect-ratio: 1;
      top: 0;
      left: var(--container-offset);
      background-image: url("../img/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;

      @include small-desktop {
        width: 150px;
      }

      @include tablet {
        // --container-offset: 46px;
        // left: calc(var(--container-offset) - 15px);
        left: 0;
      }

      @include big-mobile {
        --container-offset: 20px;
        width: 120px;

        @include small-mobile {
          width: 80px;
        }
      }
    }
  }

  &__title {
    width: 6.1em;
    margin: 0;
    margin-bottom: 83px;
    font-weight: 400;
    font-size: 110px;
    line-height: 85%;
    text-transform: capitalize;

    @include small-desktop {
      font-size: 75px;
    }

    @include small-tablet {
      font-size: 70px;
      line-height: 110%;
      margin-bottom: 69px;
      margin-left: 50%;
      transform: translateX(-34%);
      // margin-left: calc(28.8vw - var(--container-offset));
    }

    @include big-mobile {
      font-size: 60px;
      margin-bottom: 150px;
      transform: translateX(-40%);
    }

    @include mobile {
      font-size: 50px;
      transform: translateX(-47%);
    }

    @include small-mobile {
      font-size: 40px;
      transform: translateX(-57%);
    }
  }

  &__btn {
    width: 330px;

    @include small-tablet {
      margin-left: 50%;
      // position: absolute;
      width: 282px;
      // left: 50%;
      transform: translateX(-50%);
    }

    @include mobile {
      width: min(280px, 100%);
    }
  }
}
