<section class="about">
  <div class="container">
    <h2 class="about__title">AAA Agency</h2>
    <p class="about__description">
      AAA Agency is an international influence and special projects agency
      agency dedicated to transforming your marketing campaigns into
      unforgettable experiences.
    </p>
  </div>

  <div class="about__container border-top">
    <ul class="list-reset accordion-list" title="">
      <li class="accordion">
        <button
          class="accordion__control accordion__control--gaming btn-reset"
          aria-expanded="false"
        >
          <span class="accordion__option">Influencer Campaigns</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <h3 class="accordion__title">what we do</h3>
          <ul class="accordion__item-list item-list list-reset">
            <li class="item-list__item">Preparation of a creative brief</li>
            <li class="item-list__item">
              Strategy development based on analytical data
            </li>
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
            <li class="item-list__item">
              Full cycle of work within a special project
            </li>
            <li class="item-list__item">Analytics and reporting</li>
          </ul>
        </div>
      </li>
      <li class="accordion">
        <button
          class="accordion__control accordion__control--nongaming btn-reset"
          aria-expanded="false"
        >
          <span class="accordion__option">Special projects</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <h3 class="accordion__title">what we do</h3>
          <ul class="accordion__item-list item-list list-reset">
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
            <li class="item-list__item">
              Full cycle of work within a special project
            </li>
            <li class="item-list__item">Analytics and reporting</li>
          </ul>
        </div>
      </li>
      <!-- <li class="accordion">
        <button
          class="accordion__control accordion__control--nongaming btn-reset"
          aria-expanded="false"
        >
          <span class="accordion__option">Special projects</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <h3 class="accordion__title">what we do</h3>
          <ul class="accordion__item-list item-list list-reset">
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
            <li class="item-list__item">
              Full cycle of work within a special project
            </li>
            <li class="item-list__item">Analytics and reporting</li>
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
            <li class="item-list__item">
              Full cycle of work within a special project
            </li>
            <li class="item-list__item">Analytics and reporting</li>
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
            <li class="item-list__item">
              Full cycle of work within a special project
            </li>
            <li class="item-list__item">Analytics and reporting</li>
          </ul>
        </div>
      </li>
      <li class="accordion">
        <button
          class="accordion__control accordion__control--nongaming btn-reset"
          aria-expanded="false"
        >
          <span class="accordion__option">Special projects</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <h3 class="accordion__title">what we do</h3>
          <ul class="accordion__item-list item-list list-reset">
            <li class="item-list__item">
              Development of creative solutions for a variety of budgets
            </li>
          </ul>
        </div>
      </li> -->
    </ul>

    <div class="about__content"></div>
  </div>
  <div class="container about__btn-container">
    <a href="#form" class="btn about__btn btn-reset" data-scroll>Submit an application</a>
  </div>
</section>
