<section class="boost" data-menu>
  <div class="container boost__container">
    <div class="boost__content">
      <h2 class="boost__title">Boost<br />Your Brand</h2>
      <p class="boost__description">
        Find influencers for your marketing campaign, build better authenticity,
        create brand advocates and level up your engagement game!
      </p>
    </div>
    <div class="boost__form-wrapper">
      <form action="" id="form" class="form boost__form">
        <label class="form__field">
          <span class="visually-hidden">Your First Name</span>
          <input
            type="text"
            name="name"
            placeholder="First Name*"
            required
            class="input-reset form__input"
          />
        </label>
        <label class="form__field">
          <span class="visually-hidden">Your Email</span>
          <input
            type="email"
            name="email"
            placeholder="Твой email*"
            required
            class="input-reset form__input"
          />
        </label>
        <label class="form__field">
          <span class="visually-hidden">Link to your brand or project</span>
          <input
            type="url"
            name="url"
            placeholder="Link to your brand or project"
            class="input-reset form__input"
          />
        </label>
        <button class="btn-reset btn form__btn" type="submit">send</button>
      </form>
    </div>
  </div>
</section>
