<header class="header border-bottom fixed-block">
  <div class="container--no-padding flex header__container">
    <div class="header__logo-wrapper">
      <a href="" class="logo header__logo"
        >AAA Agency / Influence<br />
        & Special Projects
      </a>
    </div>
    <ul class="list-reset contacts">
      <li class="contacts__item">
        <a href="#" class="btn contacts__link">Instagram</a>
      </li>
      <li class="contacts__item">
        <a href="#" class="btn contacts__link">Linkedin</a>
      </li>
    </ul>
    <button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
