<section class="platforms">
  <div class="container">
    <h2 class="platforms__title">Platforms<br />we work with</h2>
  </div>
  <div class="platforms__container border-block">
    <ul class="list-reset platforms__partner-list partner-list grid" title="">
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--youtube"
          aria-label="Youtube"
          ></svg
        ></a>
      </li>
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--tiktok"
          aria-label="TikTok"
        ></a>
      </li>
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--insta"
          aria-label="Instagram"
        ></a>
      </li>
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--twitch"
          aria-label="Twitch"
        ></a>
      </li>
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--discord"
          aria-label="Discord"
        ></a>
      </li>
      <li class="partner-list__item">
        <a
          href="#"
          target="_blank"
          class="partner-list__link partner-list__link--reddit"
          aria-label="Reddit"
        ></a>
      </li>
    </ul>
  </div>
</section>
