<section class="showreel">
  <div class="container showreel__container">
    <div class="showreel__video-wrapper">
      <video
        preload="metadata"
        width=""
        height="665"
        poster="/img/video-poster.webp"
        class="showreel__video"
        aria-hidden="true"
      >
        <source src="/space.mp4" type="video/mp4" />
      </video>
      <picture>
        <source srcset="img/video-poster.webp" type="image/webp" />
        <img
          loading="lazy"
          src="/img/video-poster.png"
          class="showreel__image"
          width=""
          height="665"
          alt="Lineage showreel poster"
        />
      </picture>
      <button class="btn showreel__btn btn-reset">watch showreel</button>
    </div>
  </div>
</section>
