<section class="verticals">
  <div class="verticals__container grid border-bottom">
    <div class="verticals__wrapper verticals__wrapper--gaming">
      <div class="verticals__content">
        <span class="verticals__name">Gaming</span>
        <div class="verticals__content-wrapper">
          <div class="verticals__text-wrapper">
            <h2 class="verticals__title">Welcome<br />to the game</h2>
            <p class="verticals__description">
              We connect and energize global audiences by collaborating with
              gaming content creators, vloggers, streamers, and influencers
              across diverse social media domains.
            </p>
          </div>
          <div class="verticals__image-wrapper-outer">
            <div class="verticals__image-wrapper-inner">
              <picture>
                <source srcset="img/gaming.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/gaming.png"
                  class="verticals__image"
                  width="548"
                  height="335"
                  alt="Girl with VR"
                />
              </picture>
            </div>
            <div class="verticals__icon-wrapper">
              <div class="verticals__icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="verticals__wrapper verticals__wrapper--nongaming">
      <div class="verticals__content">
        <span class="verticals__name">Non-gaming</span>
        <div class="verticals__content-wrapper">
          <div class="verticals__text-wrapper">
            <h2 class="verticals__title">
              Create an authentic<br />brand story
            </h2>
            <p class="verticals__description">
              Our influencers can craft stories around your product and brand,
              amplifying their impact. It brings reach and engagement to your
              campaigns.
            </p>
          </div>

          <div class="verticals__image-wrapper-outer">
            <div class="verticals__image-wrapper-inner">
              <picture>
                <source srcset="img/nongaming.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/nongaming.png"
                  class="verticals__image"
                  width="548"
                  height="335"
                  alt="Girl with VR"
                />
              </picture>
            </div>
            <div class="verticals__icon-wrapper">
              <div class="verticals__icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
