:root {
  --font-family: "Play", sans-serif;
  --content-width: 1296px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #e6e6e6;
  --dark-color: #121212;
  --accent-color: #ffdd55;
  --bg-main-color: #f15423;
  --bg-secondary-color: #2b60e2;
  --transition: 0.3s;
  --border: 2px solid var(--dark-color);
  --line-text-gap: 70px;
  --verticals-image-height: 340px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Play";
  src: url("../fonts/../fonts/Play-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("../fonts/../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--dark-color);
  color: var(--dark-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 1024px) {
  .container {
    --container-offset: 46px;
  }
}
@media (max-width: 724px) {
  .container {
    --container-offset: 20px;
  }
}

.container--no-padding {
  margin: 0 auto;
  max-width: var(--content-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.border-bottom {
  border-bottom: 2px solid var(--dark-color);
}

.border-top {
  border-top: 2px solid var(--dark-color);
}

.border-block {
  border-block: 2px solid var(--dark-color);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--dark-color);
  text-transform: uppercase;
  transition: var(--transition) background-color ease-in-out;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 123%;
  text-transform: uppercase;
  color: var(--dark-color);
  height: 80px;
}
@media (max-width: 768px) {
  .btn {
    font-size: 18px;
    height: 68px;
  }
}
@media (max-width: 576px) {
  .btn {
    font-size: 14px;
    height: 51px;
    border: var(--border);
  }
}
.btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--accent-color);
  }
}
.btn:active {
  background-color: var(--accent-color);
}

.btn.focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 3px;
  background-color: var(--accent-color);
}

.header {
  background-color: var(--bg-main-color);
}
.header__container {
  justify-content: space-between;
  height: 61px;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--container-offset);
  padding-right: 50px;
  border-right: var(--border);
}
@media (max-width: 1024px) {
  .header__logo-wrapper {
    --container-offset: 46px;
  }
}
@media (max-width: 724px) {
  .header__logo-wrapper {
    --container-offset: 20px;
  }
}
@media (max-width: 576px) {
  .header__logo-wrapper {
    border-right: none;
    padding-right: 0;
  }
}
.header__logo {
  color: var(--dark-color);
  line-height: 100%;
}
@media (max-width: 576px) {
  .header__logo {
    font-size: 12px;
  }
}

.contacts {
  display: flex;
  height: 100%;
  border-left: var(--border);
  box-shadow: 2px 0 var(--dark-color);
}
@media (max-width: 576px) {
  .contacts {
    display: none;
  }
}
.contacts__item + .contacts__item {
  border-left: var(--border);
}
.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 122px;
  color: var(--dark-color);
  line-height: 123%;
  border: none;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .contacts__link {
    font-size: 12px;
  }
}

.logo:focus {
  outline: none;
}

.logo.focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--accent-color);
}

.footer__logo.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: 3px;
}

.hero {
  background-color: var(--bg-main-color);
  padding-block: 126px 214px;
}
@media (max-width: 768px) {
  .hero {
    padding-block: 134px 301px;
  }
}
@media (max-width: 724px) {
  .hero {
    padding-block: 30px 34px;
  }
}
.hero__container {
  position: relative;
  padding-left: calc(28.8vw - var(--container-offset));
  z-index: 1;
}
@media (max-width: 724px) {
  .hero__container {
    padding-top: 130px;
    padding-left: 16vw;
  }
}
@media (max-width: 576px) {
  .hero__container {
    padding-top: 100px;
    padding-left: 8vw;
  }
}
@media (max-width: 400px) {
  .hero__container {
    padding-left: 0;
  }
}
.hero__container::before {
  display: block;
  content: "";
  position: absolute;
  width: 200px;
  aspect-ratio: 1;
  top: 0;
  left: var(--container-offset);
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (max-width: 1025px) {
  .hero__container::before {
    width: 150px;
  }
}
@media (max-width: 1024px) {
  .hero__container::before {
    left: 0;
  }
}
@media (max-width: 724px) {
  .hero__container::before {
    --container-offset: 20px;
    width: 120px;
  }
}
@media (max-width: 724px) and (max-width: 576px) {
  .hero__container::before {
    width: 80px;
  }
}
.hero__title {
  width: 6.1em;
  margin: 0;
  margin-bottom: 83px;
  font-weight: 400;
  font-size: 110px;
  line-height: 85%;
  text-transform: capitalize;
}
@media (max-width: 1025px) {
  .hero__title {
    font-size: 75px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 70px;
    line-height: 110%;
    margin-bottom: 69px;
  }
}
@media (max-width: 724px) {
  .hero__title {
    font-size: 60px;
    margin-bottom: 150px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__btn {
  width: 330px;
  height: 80px;
}
@media (max-width: 768px) {
  .hero__btn {
    width: 282px;
    height: 68px;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    width: 280px;
    height: 50px;
  }
}

.line {
  background-color: var(--light-color);
}
.line__container {
  min-width: 1502px;
  overflow: hidden;
  gap: var(--line-text-gap);
  align-items: center;
  height: 60px;
}
@media (max-width: 576px) {
  .line__container {
    height: 51px;
  }
}
.line__text {
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 123%;
  text-transform: uppercase;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
@media (max-width: 1024px) {
  .line__text {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .line__text {
    font-size: 16px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--line-text-gap)));
  }
}
.verticals__container {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 724px) {
  .verticals__container {
    grid-template-columns: repeat(1, auto);
  }
}
.verticals__wrapper {
  display: flex;
  transition: background-color calc(2 * var(--transition)) ease-in-out;
}
.verticals__wrapper:hover {
  background-color: var(--light-color);
}
.verticals__wrapper:hover .verticals__icon {
  transform: translateY(calc(var(--verticals-image-height) - 100% + 4px));
}
.verticals__wrapper:hover .verticals__image-wrapper-inner::after {
  opacity: 1;
}
.verticals__wrapper--gaming {
  justify-content: end;
  background-color: var(--bg-main-color);
}
.verticals__wrapper--gaming .verticals__content {
  border-left: var(--border);
}
.verticals__wrapper--gaming .verticals__image-wrapper-inner::after {
  background-image: url("../img/gaming-hover.png");
  background-position: 50%;
}
@media (max-width: 768px) {
  .verticals__wrapper--gaming {
    border-bottom: var(--border);
  }
}
.verticals__wrapper--nongaming {
  background-color: var(--bg-secondary-color);
  justify-items: start;
}
.verticals__wrapper--nongaming .verticals__content {
  border-right: var(--border);
}
.verticals__wrapper--nongaming .verticals__image-wrapper-inner::after {
  background-image: url("../img/nongaming-hover.png");
  background-position: 50%;
}
.verticals__content {
  width: max(var(--content-width) / 2, 50%);
  border-inline: 1px solid var(--dark-color);
}
@media (max-width: 724px) {
  .verticals__content {
    width: 100%;
    border-inline: var(--border);
  }
}
.verticals__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 56px);
}
.verticals__name {
  display: flex;
  height: 56px;
  font-size: 18px;
  line-height: 123%;
  text-transform: uppercase;
  border-bottom: var(--border);
  align-items: center;
  padding-inline: 45px;
}
@media (max-width: 400px) {
  .verticals__name {
    font-size: 14px;
    height: 51px;
    padding-inline: 22px;
  }
}
.verticals__text-wrapper {
  padding: 41px 45px 56px;
  border-bottom: var(--border);
  flex-grow: 1;
}
@media (max-width: 768px) {
  .verticals__text-wrapper {
    padding: 33px 46px 78px;
  }
}
@media (max-width: 724px) {
  .verticals__text-wrapper {
    padding: 33px 45px;
  }
}
@media (max-width: 400px) {
  .verticals__text-wrapper {
    padding: 33px 22px;
  }
}
.verticals__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .verticals__title {
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 21px;
  }
}
@media (max-width: 400px) {
  .verticals__title {
    font-size: 26px;
  }
}
@media (max-width: 400px) {
  .verticals__title {
    margin-bottom: 16px;
  }
}
.verticals__description {
  margin: 0;
  max-width: 444px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 768px) {
  .verticals__description {
    font-size: 14px;
    max-width: 240px;
  }
}
@media (max-width: 724px) {
  .verticals__description {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .verticals__description {
    font-size: 12px;
  }
}
.verticals__image-wrapper-outer {
  display: grid;
  height: var(--verticals-image-height);
  grid-template-columns: auto 95px;
}
@media (max-width: 768px) {
  .verticals__image-wrapper-outer {
    grid-template-columns: auto 66px;
  }
}
@media (max-width: 724px) {
  .verticals__image-wrapper-outer {
    grid-template-columns: auto 100px;
  }
}
@media (max-width: 400px) {
  .verticals__image-wrapper-outer {
    grid-template-columns: auto 50px;
  }
}
.verticals__image-wrapper-inner {
  position: relative;
}
@media (max-width: 724px) {
  .verticals__image-wrapper-inner {
    font-size: 0;
  }
}
.verticals__image-wrapper-inner::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity calc(2 * var(--transition)) ease-in-out;
}
.verticals__image {
  width: 100%;
  height: 100%;
}
@media (max-width: 724px) {
  .verticals__image {
    height: var(--verticals-image-height);
  }
}
.verticals__icon-wrapper {
  border-left: var(--border);
  flex-shrink: 0;
  flex-grow: 0;
}
.verticals__icon {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-block: var(--border);
  margin-top: -2px;
  transition: transform calc(2 * var(--transition)) ease-in-out;
}
.verticals__icon::before {
  display: block;
  content: "";
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  bottom: 12px;
  left: 12px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .verticals__icon::before {
    width: 22px;
  }
}
@media (max-width: 724px) {
  .verticals__icon::before {
    width: 40px;
  }
}
@media (max-width: 400px) {
  .verticals__icon::before {
    width: 22px;
    bottom: 8px;
    left: 8px;
  }
}

.platforms {
  background-color: var(--light-color);
  padding-block: 168px 155px;
}
@media (max-width: 768px) {
  .platforms {
    padding-block: 119px 109px;
  }
}
@media (max-width: 576px) {
  .platforms {
    padding-block: 81px 75px;
  }
}
.platforms__title {
  margin: 0;
  margin-bottom: 74px;
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .platforms__title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .platforms__title {
    margin-bottom: 89px;
  }
}
@media (max-width: 576px) {
  .platforms__title {
    font-size: 30px;
    margin-bottom: 44px;
  }
}
.platforms__container {
  padding: 0;
  position: relative;
}
.platforms__container::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
}
@media (max-width: 768px) {
  .platforms__container::after {
    display: none;
  }
}
.platforms__partner-list {
  max-width: var(--content-width);
  margin-inline: auto;
  box-shadow: 2px 0 var(--dark-color), -2px 0 var(--dark-color);
}

.partner-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background-color: var(--dark-color);
}
@media (max-width: 768px) {
  .partner-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .partner-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.partner-list__link {
  display: block;
  height: 250px;
  background-color: var(--light-color);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color var(--transition) ease-in-out;
}
@media (max-width: 768px) {
  .partner-list__link {
    height: 210px;
  }
}
@media (max-width: 576px) {
  .partner-list__link {
    height: 175px;
  }
}
@media (max-width: 400px) {
  .partner-list__link {
    height: 145px;
  }
}
.partner-list__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .partner-list__link:hover {
    background-color: var(--bg-main-color);
  }
}
.partner-list__link:active {
  background-color: var(--bg-main-color);
}
.partner-list__link--youtube {
  background-image: url("../img/youtube.svg");
  background-size: auto 38px;
}
@media (max-width: 768px) {
  .partner-list__link--youtube {
    background-size: auto 33px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--youtube {
    background-size: auto 27px;
  }
}
.partner-list__link--tiktok {
  background-image: url("../img/tiktok.svg");
  background-size: auto 40px;
}
@media (max-width: 768px) {
  .partner-list__link--tiktok {
    background-size: auto 35px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--tiktok {
    background-size: auto 29px;
  }
}
.partner-list__link--insta {
  background-image: url("../img/insta.svg");
  background-size: auto 65px;
}
@media (max-width: 768px) {
  .partner-list__link--insta {
    background-size: auto 56px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--insta {
    background-size: auto 47px;
  }
}
.partner-list__link--twitch {
  background-image: url("../img/twitch.svg");
  background-size: auto 50px;
}
@media (max-width: 768px) {
  .partner-list__link--twitch {
    background-size: auto 43px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--twitch {
    background-size: auto 36px;
  }
}
.partner-list__link--discord {
  background-image: url("../img/discord.svg");
  background-size: auto 52px;
}
@media (max-width: 768px) {
  .partner-list__link--discord {
    background-size: auto 45px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--discord {
    background-size: auto 38px;
  }
}
.partner-list__link--reddit {
  background-image: url("../img/reddit.svg");
  background-size: auto 59px;
}
@media (max-width: 768px) {
  .partner-list__link--reddit {
    background-size: auto 51px;
  }
}
@media (max-width: 400px) {
  .partner-list__link--reddit {
    background-size: auto 43px;
  }
}

.partner-list__link.focus-visible {
  outline: 2px solid var(--accent-color);
  background-color: var(--bg-main-color);
  outline-offset: -5px;
}

.about {
  background-color: var(--light-color);
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  margin-bottom: 76px;
}
@media (max-width: 768px) {
  .about__container {
    margin-bottom: 95px;
  }
}
@media (max-width: 576px) {
  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 70px;
  line-height: 110%;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .about__title {
    margin-bottom: 24px;
  }
}
.about__description {
  margin: 0;
  margin-bottom: 76px;
  font-size: 18px;
  line-height: 125%;
  max-width: 526px;
}
@media (max-width: 768px) {
  .about__description {
    font-size: 16px;
    max-width: 388px;
    margin-bottom: 95px;
  }
}
@media (max-width: 576px) {
  .about__description {
    margin-bottom: 63px;
  }
}
.about__content {
  position: relative;
  border-left: var(--border);
  border-bottom: var(--border);
  will-change: height;
  transition: height var(--transition) ease-in-out;
  z-index: 2;
}
@media (max-width: 576px) {
  .about__content {
    display: none;
  }
}
.about__content::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--dark-color);
  bottom: 0;
  left: max(var(--content-width) / 2 - 2px, 50%);
}
.about__btn-container {
  text-align: center;
}
.about__btn {
  width: 416px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .about__btn {
    width: 374px;
  }
}

.accordion-list {
  position: relative;
  gap: 2px;
}
@media (max-width: 576px) {
  .accordion-list {
    gap: 0px;
  }
}

.accordion {
  margin-bottom: 2px;
  display: flex;
  justify-content: end;
}
@media (max-width: 576px) {
  .accordion {
    flex-direction: column;
  }
}
.accordion__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: max(var(--content-width) / 2, 50%);
  padding-left: 41px;
  box-shadow: 2px 0px var(--dark-color), 2px 2px var(--dark-color), -2px 0px var(--dark-color);
  transition: background-color var(--transition) ease-in-out;
  z-index: 2;
}
@media (max-width: 724px) {
  .accordion__control {
    height: 90px;
  }
}
@media (max-width: 576px) {
  .accordion__control {
    box-shadow: 0px 2px var(--dark-color);
    width: min(var(--content-width) / 2, 100%);
  }
}
.accordion__control::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  height: 2px;
  width: 50vw;
  background-color: var(--dark-color);
}
.accordion__control:focus {
  outline: none;
}
.accordion__control--gaming[aria-expanded=true] {
  background-color: var(--bg-main-color);
}
@media (max-width: 576px) {
  .accordion__control--gaming[aria-expanded=true] .accordion__icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@media (any-hover: hover) {
  .accordion__control--gaming:hover {
    background-color: var(--bg-main-color);
  }
}
.accordion__control--gaming:active {
  background-color: var(--bg-main-color);
}
.accordion__control--nongaming[aria-expanded=true] {
  background-color: var(--bg-secondary-color);
}
@media (max-width: 576px) {
  .accordion__control--nongaming[aria-expanded=true] .accordion__icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@media (any-hover: hover) {
  .accordion__control--nongaming:hover {
    background-color: var(--bg-secondary-color);
  }
}
.accordion__control--nongaming:active {
  background-color: var(--bg-secondary-color);
}
.accordion__option {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: left;
  padding-right: 24px;
}
@media (max-width: 768px) {
  .accordion__option {
    font-size: 18px;
  }
}
.accordion__icon {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  border-left: var(--border);
}
.accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  aspect-ratio: 1;
  background-image: url("../img/accordion-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
@media (max-width: 768px) {
  .accordion__icon::after {
    width: 30px;
  }
}
.accordion__content {
  position: absolute;
  left: 100%;
  width: 100%;
  width: min(var(--content-width) / 2, 50vw);
  top: 0;
  padding: 43px 55px;
  transition: transform var(--transition) ease-in-out;
  background-color: var(--light-color);
  border-bottom: var(--border);
}
@media (max-width: 768px) {
  .accordion__content {
    padding: 35px 37px;
  }
}
@media (max-width: 576px) {
  .accordion__content {
    position: relative;
    left: 0;
    width: 100%;
  }
}
.accordion__content[aria-hidden=false] {
  transform: translateY(-2px);
  z-index: 1;
}
@media (max-width: 576px) {
  .accordion__content[aria-hidden=false] {
    transform: translateY(2px);
  }
}
.accordion__content[aria-hidden=true] {
  transform: translateY(-100%);
  z-index: 0;
}
@media (max-width: 576px) {
  .accordion__content[aria-hidden=true] {
    transform: translateY(2px);
    display: none;
  }
}
.accordion__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 101%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .accordion__title {
    font-size: 18px;
  }
}

.item-list__item {
  font-size: 16px;
  line-height: 120%;
  padding-left: 24px;
  position: relative;
}
.item-list__item + .item-list__item {
  margin-top: 1.5em;
}
@media (max-width: 768px) {
  .item-list__item + .item-list__item {
    margin-top: 1em;
  }
}
.item-list__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.6em;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  aspect-ratio: 1;
  background-color: var(--dark-color);
}

.accordion__control--gaming.focus-visible {
  background-color: var(--bg-main-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -5px;
}

.accordion__control--nongaming.focus-visible {
  background-color: var(--bg-secondary-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -5px;
}

.about__btn.focus-visible {
  outline: 2px solid var(--dark-color);
}

.showreel {
  background-color: var(--light-color);
  padding-block: 155px;
}
@media (max-width: 768px) {
  .showreel {
    padding-block: 75px;
  }
}
.showreel__video-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 665px;
  border: var(--border);
  object-fit: cover;
  background-color: var(--dark-color);
  z-index: 0;
}
@media (max-width: 576px) {
  .showreel__video-wrapper {
    height: 400px;
  }
}
.showreel__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (any-hover: hover) {
  .showreel__video:hover + .showreel__btn {
    background-color: var(--accent-color);
  }
}
.showreel__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.showreel__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 323px;
  height: 80px;
  transform: translate(-50%, -50%);
  background-color: var(--light-color);
  z-index: 2;
}
@media (max-width: 768px) {
  .showreel__btn {
    width: 280px;
  }
}
@media (max-width: 576px) {
  .showreel__btn {
    width: 180px;
  }
}

.video--enabled {
  cursor: pointer;
}

.boost {
  background-color: var(--light-color);
  padding-bottom: 155px;
}
.boost__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .boost__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.boost__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
}
@media (max-width: 1024px) {
  .boost__title {
    font-size: 50px;
  }
}
.boost__description {
  font-size: 16px;
  line-height: 125%;
  max-width: 415px;
}
.boost__form-wrapper {
  padding-top: 205px;
  padding-right: min(7.6vw, 110px);
}
@media (max-width: 768px) {
  .boost__form-wrapper {
    padding-top: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form__field {
  width: 100%;
}
.form__input {
  width: 100%;
  height: 80px;
  border: var(--border);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  padding: 30px 37px;
  background-color: transparent;
  margin-bottom: -2px;
}
.form__input::placeholder {
  font-weight: 400;
  line-height: 125%;
  color: var(--dark-color);
}
.form__input:focus {
  outline: none;
}
.form__btn {
  height: 80px;
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: color var(--transition) ease-in-out, background-color var(--transition) ease-in-out;
}
@media (any-hover: hover) {
  .form__btn:hover {
    background-color: var(--bg-main-color);
    color: var(--dark-color);
  }
}

.form__btn.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: -9px;
  color: var(--dark-color);
}

.form__input.focus-visible {
  outline: 2px solid var(--dark-color);
  outline-offset: -7px;
  color: var(--dark-color);
}

.footer {
  background-color: var(--light-color);
  height: 80px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__logo {
  width: 47px;
  aspect-ratio: 1;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
.footer__copyright {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: var(--border);
  padding-left: 69px;
}/*# sourceMappingURL=main.css.map */