// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Play", sans-serif;

  --content-width: 1296px;
  --container-offset: 15px;
  // --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #e6e6e6;
  --dark-color: #121212;
  --accent-color: #ffdd55;

  --bg-main-color: #f15423;
  --bg-secondary-color: #2b60e2;

  --transition: 0.3s;

  --border: 2px solid var(--dark-color);

  --line-text-gap: 70px;

  --verticals-image-height: 340px;

  // @include tablet {
  //   --container-offset: 46px;
  // }
}
